<div tdMediaToggle="gt-xs">
  <div layout="row" layout-wrap>
    <md-card style="width: 350px;" *ngFor="let item of records">
      <md-card-header>
        <md-card-title>{{item.Zadanie}}</md-card-title>
      </md-card-header>
      <md-card-content>
        <p>
            <md-select placeholder="State" [(ngModel)]="item.Status">
                <md-option *ngFor="let record of states" [value]="record.State">{{ record.State }}</md-option>
              </md-select>
        </p>
        <p class="text">
          {{item.Opis}}
        </p>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <button (click)="Remove(item)" md-button>Remove</button>
      </md-card-actions>
    </md-card>
    <md-card style="width: 350px;">
      <md-card-header>
        <md-card-title>
          <td-dynamic-forms #Title [elements]="textElements">
          </td-dynamic-forms>
        </md-card-title>
      </md-card-header>
      <md-divider></md-divider>
      <md-card-content>
      </md-card-content>
      <md-card-actions>
        <button (click)="Add()" md-button>Add</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
